@import "../styles.scss";

* {
	font-family: "Lexend", sans-serif;
}

.quantidade_btn {
    background-color: transparent;
    border-radius: 5px;
	padding: 5px;
    margin: 5px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    text-align: center;
}
