@import "../styles.scss";

.section {
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    color: var(--font);
    font-family: 'Lexend', sans-serif;
}

.section h1 {
    font-weight: 600;
}
