@import "../styles.scss";


.texto1 {
    font-family: 'Lexend', sans-serif;
    margin-top: 20px;
    font-weight: 200;
 }

 .texto1 p {
    font-size: medium;
 }

 .lista li{
    list-style: none;
 }