@import "../styles.scss";


.conta {
    margin-top: 20px;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    background: #ffffff;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

.favr a{
    color: var(--font);
}

.bot a {
    color: var(--text);
}

.card input::-webkit-input-placeholder {
    color: var(--placeho);
  }