@import "../styles.scss";


.big {
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        font-family: 'Lexend', sans-serif;
        object-fit: cover;
        object-position: bottom;
       
}

