@import "../styles.scss";



.banner {
        height: 450px;
        width: auto;
        background-image: url(https://images.unsplash.com/photo-1625207695351-5555c02a4db0);
        background-size: cover;
        background-repeat: no-repeat;

}

.faixa {
        display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 10px 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}
.linha {
        display: flex;
	align-items: center;
	gap: 10px;
        width: auto;
        background-color: black;
        color: var(--text);
        padding: 10px 20px;
}

.beneficios{
        display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

