@import "../styles.scss";

    .footer {
    width: auto;
    background-color: rgb(0, 0, 0);
    padding: 40px 0px 20px 0px;
   
    text-align: center;
    align-content: center;
    color: var(--text);
    font-family: 'Lexend', sans-serif;
    }


    .abajo{
        font-size: smaller;
        font-weight: 100;
    }


    